.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form{
    border-radius: 4px;
    padding: 10px;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.82);
}