.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.widget-container{
    margin-top: 20px;
    width: 90%;
    margin: 0 auto;
}

.search{

    display: block;
    width: 50%;
    text-align: center;
    height: 30px;
    font-size: 20px;
}
.search-button{
    border: none;
    display: block;
    padding: 10px 10px;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    font-size: 15px;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
    cursor:  pointer;
}